<app-header></app-header>
<div class="container">
  <h2 style="margin: 10px;" class="text-muted">Add Events</h2>
  <form class="px-4 py-3">
    <div class="form-group">
      <label>Event name</label>
      <input
        type="text"
        class="form-control"
        name="title"
        aria-describedby="emailHelp"
        [(ngModel)]="event.title"
      />
    </div>
    <div class="form-group">
      <label>Event date</label>
      <input
        type="date"
        class="form-control"
        name="date"
        aria-describedby="emailHelp"
        [(ngModel)]="event.date"
      />
    </div>

    <div class="form-group">
      <label for="exampleInputEmail1">Event time</label>
      <input
        type="time"
        class="form-control"
        name="time"
        aria-describedby="emailHelp"
        [(ngModel)]="event.time"
      />
    </div>
    <div class="form-group">
      <input
        class="btn btn-primary"
        style="margin: 20px; float: right;"
        type="submit"
        value="Add Event"
        (click)="addEvent()"
      />
      <input
        class="btn btn-info"
        type="submit"
        value="Update Event"
        (click)="updateEvent()"
      />
    </div>
  </form>
  <hr />
  <h2 style="margin: 10px;" class="text-muted">Event List</h2>
  <div *ngFor="let e of events; let id = index" class="list-group">
    <a href="#" class="list-group-item list-group-item-action">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">{{ e.title }}</h5>
        <p>Starts at: {{ e.time }}</p>
      </div>
      <p class="mb-1">
        {{ e.date }}
      </p>
      <p>{{ e.time }}</p>
      <div class="">
        <button
          type="button"
          class="btn btn-primary btn-sm"
          (click)="setEventTextToForm(id)"
        >
          Edit
        </button>
        <button
          type="button"
          (click)="deleteEvent(id)"
          class="mx-2 btn btn-warning btn-sm"
        >
          Delete
        </button>
      </div>
    </a>
  </div>
  <hr />
</div>
